// custom colours

$primary:#f6648C;
$secondary:#CACACA;
$success:#035668;
$danger:#FF444F;
$info:#3F81C7;
$warning:#0DE2EA;
$light:#eAeAeA;
$dark:#223322;

//import bootstrap

@import '../node_modules/bootstrap/scss/bootstrap.scss';
